.holder{
    display:grid;
	grid-template-rows: repeat (2fr, 200px);
	grid-template-columns: repeat (2fr, 200px)
	width:200px;
	height:200px;
	background-color:blue;
	gap:10px;
}
.item {
  background-color:yellow;
  padding: 10px;
  font-size: 20px;
  text-align: start;
}
/* Your CSS Code here. */