.holder{
    display:grid;
	grid-template-rows: repeat (2, 1fr);
	grid-template-columns: repeat (2, 100px)
    
}

.item1 {
  grid-row: 1 / 2; /* places the item in the first row */
  grid-column: 1 / 2; /* places the item in the first column */

}

.item2 {
  grid-row: 1 / 2; /* places the item in the first row */
  grid-column: 2 / 3; /* places the item in the second column */
}

.item3 {
  grid-row: 2 / 3; /* places the item in the second row */
  grid-column: 1 / 2; /* places the item in the first column */
}

.item4 {
  grid-row: 2 / 3; /* places the item in the second row */
  grid-column: 2 / 3; /* places the item in the second column */
}

/* Your CSS Code here. */